* {
  box-sizing: border-box;
}

/* Apply a background color to the body */
body {
  background: url("img/news.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

/* Center the form-wrap section on the page */
.form-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Style the form-box container */
.form-box {
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 40px;
  text-align: center;
  width: 400px;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.5);
}

/* Style the h1 element */
.form-box h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Style the input elements */
.form-box input[type="email"],
.form-box input[type="password"] {
  border: none;
  border-radius: 5px;
  display: block;
  font-size: 1.1rem;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
}

/* Style the submit button */
.form-box input[type="submit"] {
  background-color: #0080ff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  margin-top: 20px;
  padding: 10px 20px;
  transition: background-color 0.2s ease;
}

.form-box input[type="submit"]:hover {
  background-color: #0066cc;
}

h1
{
    font-size: 2em;
    color: white;
    text-align: center;
}

p
{
  color: white;
  text-align: center;
}

.register
{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a
{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.register p a:hover
{
    text-decoration: #0080ff;
}